@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  color: var(--foreground);
  background: linear-gradient(to bottom,
      rgba(255, 255, 255, 1),
      rgb(146, 146, 146));
  min-height: 100vh;
}

h1 {
  @apply text-primary text-5xl md:text-7xl
}

h2 {
  @apply text-primary text-3xl md:text-5xl
}

h3 {
  @apply text-primary text-2xl md:text-4xl
}

h4 {
  @apply text-primary text-2xl
}

h5 {
  @apply text-primary text-lg
}

p {
  @apply text-primary;
}

.image-gallery {
  @apply flex justify-center items-center w-full md:w-3/4;

  .image-gallery-content {
    @apply flex flex-col gap-5 w-full md:w-3/4;
  }

  .image-gallery-image {
    @apply aspect-square md:aspect-video;
    object-fit: cover !important;
    max-height: calc(100vh - 200px) !important;
  }
}