.desktop-menu {
    @apply hidden sm:ml-6 lg:block;

    .wrapper {
        @apply flex gap-5;

        .link-item {
            @apply text-secondary shadow-lg my-auto mx-auto text-center rounded-md px-6 py-3 text-lg hover:bg-primarylighter;

            &.active {
                @apply bg-secondary text-primary
            }
        }

        .subwrapper {
            @apply relative;

            .sublink-button {
                @apply text-secondary shadow-lg my-auto mx-auto text-center rounded-md px-6 py-3 text-lg hover:bg-primarylighter;

                &.active {
                    @apply bg-secondary text-primary
                }
            }

            .dropdown-arrow {
                content: '';
                position: absolute;
                top: -10px;
                left: 20px;
                border-width: 0 10px 10px 10px;
                border-style: solid;
                border-color: transparent transparent #f3f4f6 transparent;
            }

            .sublink-item {
                @apply text-primary block px-4 py-2 text-sm rounded-md hover:bg-secondarydarker;

                &.active {
                    @apply bg-primarylight text-secondary
                }
            }
        }
    }
}